form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
border-radius: 10px;
    

}

#enviar {
    width: 15%;
    margin: auto;
    background-color: pink;


    border-radius: 10px;
}

#enviar:hover {
    background-color: palevioletred;
}

.caixadetext {
    border: 5px green double;
    margin-bottom: 20px;

}

.caixadetext:focus {
    border: 5px rgb(241, 58, 119) double;
    outline: 0;
}